.container{
	margin: 20px auto;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	animation: container-appearance 3s forwards;
}
.loading{
	margin-top: 40px;
	margin: 40px auto;
	font-size: 24px;
	font-weight: 400;
	font-family: 'roboto';
	line-height: 21px;
	color: #000;
}
@media screen and (max-width:600px) {
	.loading{font-size: 16px;}
}
@keyframes container-appearance{
	0%{
		opacity: 0;
		transform: translateY(700px);
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}